.carousel-row::-webkit-scrollbar {
    display: none !important;
}

.carousel-row {
    display: flex;
    gap: 1rem;
    animation: scroll 10s  linear infinite !important;
    white-space: nowrap;
}

.carousel-container {
    overflow: hidden;
}

.carousel-row img {
    width: 100% !important;
    border-radius: 50% !important;
}

/* @keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    25% {
        transform: translateX(50%);
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-100%);
    }
} */

/* Base animation for moving up and down */
@keyframes floatUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); 
    }
}

@keyframes floatDownUp {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px); 
    }
}


.carousel-row > div {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


.carousel-row > div:nth-child(odd) {
    animation-name: floatUpDown;
}


.carousel-row > div:nth-child(even) {
    animation-name: floatDownUp;
}
